<app-user></app-user>
<hr>



<div *ngIf="okNewUser" class="alert alert-success alertEdit" role="alert">
    User Created Succesfully!
</div>

<div *ngIf="okEditUser" class="alert alert-primary alertEdit" role="alert">
    User Updated Succesfully!
</div>

<div *ngIf="error" class="alert alert-danger alertEdit" role="alert">
    Something went wrong!
</div>

<button (click)="backClicked()" class="btn btn-danger buttonReturn" type="button" name="button">
    <i class="fas fa-undo"></i> Return
</button>

<div class="row m-md-5 editData">
    <div class="col-md-12">

        <form (ngSubmit)="save()" #form="ngForm">

            <div class="form-group">
                <label>ID</label>
                <input [(ngModel)]="user.id" name="id" type="text" class="form-control" placeholder="ID" disabled>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input [(ngModel)]="user.email" name="email" type="email" class="form-control" placeholder="Email" disabled>
            </div>

            <div class="form-group">
                <label>Full Name</label>
                <input [(ngModel)]="user.name" name="name" type="name" class="form-control" placeholder="Name" required>
            </div>

            <div class="form-group">
                <label>ID Card Number</label>
                <input [(ngModel)]="user.idNumber" name="idNumber" type="text" class="form-control" placeholder="ID">
            </div>

            <!--
            <div class="form-group" *ngIf="admin">
                <label>Role</label>
                <select [(ngModel)]="user.role" name="role" class="form-control" required>
            <option disabled selected value> -- select the role -- </option>        
            <option value="admin">Admin</option>
            <option value="employee">Employee</option>
            </select>
            </div>
            -->

            <div class="form-group">
                <button [disabled]="!form.valid" type="submit" class="btn btn-outline-primary">
                    <i class="far fa-save"></i> Save Changes
          </button>
            </div>

        </form>

    </div>
</div>