<h1 *ngIf="auth.isAuthenticated()" class="m-md-5 titleSection">
    <a href="#" class="nounderline" [routerLink]="['/new-users', profile.sub] "> <img [src]="profile.picture " id="profIcon" height="42" width="42" class=" glyphicon glyphicon-user rounded-circle"> {{ profile.nickname }} </a>
</h1>