<app-user></app-user>
<hr>

<p *ngIf="false">prueba</p>


<div class="table-responsive adminTable">
    <table class="table  table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Name</th>
                <th scope="col">Week {{today | date:'w'}}</th>
                <th scope="col">Actions</th>
                <th scope="col">Information</th>
                <th scope="col"><button id="select-all" type="button" (click)="onSelectAll()" class="btn btn-outline-light btn-sm selectAll"><i class="far fa-check-circle" ></i> Select All</button></th>
                <th scope="col">
                    <button type="button" (click)="downloadExcel()" class="btn btn-danger btn-sm float-right downloadAll selectAll">
                            <i class="fas fa-file-download"></i> Week
                    </button>
                </th>
                <th scope="col" class="">
                    <button type="button" (click)="ActualMonth()" class="btn btn-danger btn-sm float-right downloadAll selectAll">
                                <i class="fas fa-file-download"></i> Month
                        </button>
                </th>

            </tr>
        </thead>

        <tbody>


            <tr *ngFor="let k of users | keys; let i = index">
                <th scope="row">{{ users[k].idNumber }} <span *ngIf="!users[k].idNumber"><i class="far fa-bell"></i> Unfilled</span></th>
                <td>{{ users[k].name | slice:0:15 }} <span *ngIf="!users[k].name">No name</span></td>
                <td> {{users[k].totalHours | number }} Hours</td>
                <td class="actions">
                    <button [routerLink]="['/new-users', k]" type="button" class="btn btn-primary btn-sm"> <i class="far fa-edit"></i> Edit</button>
                    <button (click)="deleteUser(k)" type="button" class="btn btn-danger btn-sm"> <i class="far fa-trash-alt"></i> Delete</button>
                </td>
                <td> <button [routerLink]="['/details', k]" type="button" class="btn btn-info btn-sm"> <i class="fas fa-info-circle"></i> Details</button> </td>
                <td>
                    <div class="custom-control custom-checkbox mr-sm-2 pointer">
                        <input type="checkbox" (click)="onCheckboxClick(users[k])" class="custom-control-input pointer select-item" id="{{ users[k].id }}" [(ngModel)]="users[k].selected" name="select-item" value=" {{i}} ">
                        <label class="custom-control-label pointer" for="{{ users[k].id }}"> Select</label>
                    </div>
                </td>

            </tr>


        </tbody>
    </table>
</div>