<div *ngIf="!auth.isAuthenticated()" class="jumbotron m-md-5 welcomeMessage">
    <h1 class="display-4">Hello, colleagues!</h1>
    <p class="lead">This is the time tracking app that allow us to manage our schedule and holiday in the company.</p>
    <hr class="my-4">
    <p>If you are registered as an employee in Rewe Systems Spain, you can enter to manage your time.</p>
    <button class="btn btn-danger float-right" *ngIf="!auth.isAuthenticated()" (click)="auth.login()"><i class="fas fa-sign-in-alt"></i> Log in</button>
</div>