.form-control {
    width: 50%;
    margin: 5px;
    display: inline;
}

.form-control.start {
    margin-left: 12px;
}

.form-control.finish {
    margin-left: 18px;
}

.form-control.break {
    margin-left: 4px;
}

@media (max-width: 430px) {
    .form-control.break,
    .form-control.finish,
    .form-control.start {
        margin-left: 0px;
        margin: 0px;
        width: 60%;
    }
}