<h1 class="m-md-5 titleSection"> Week {{today | date:'w'}}, {{user.name}}<span *ngIf="!user.name">{{user.email | slice:0:15}}</span></h1>
<hr>

<button [routerLink]="['/admin']" class="btn btn-danger buttonReturn" type="button" name="button">
  <i class="fas fa-undo"></i> Return
</button>


<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6">

                    <ul class="list-group d-flex flex-column" *ngFor=" let track of tracks; let i = index">
                        <span class="m-md-2 alert-dark tituloSemana"> {{ daysName[i] }} </span>
                        <li class="list-group-item p-2 text-center">
                            <div *ngIf=" selectedId == i" class="botonesEdit">
                                <label for="start">Start: </label>
                                <input name="start" class="form-control start" [(ngModel)]="track.start" type="time">
                                <br>
                                <label for="finish">End: </label>
                                <input name="finish" class="form-control finish" [(ngModel)]="track.finish" type="time">
                                <br>
                                <label for="break">Break: </label>
                                <input name="break" class="form-control break" [(ngModel)]="track.break" type="text">
                            </div>


                            <div *ngIf="selectedId != i" class="botonesEdit">
                                <button type="button" class="btn btn-primary m-md-1">
                             Start <span class="badge badge-light">{{track.start}}</span>
                            </button>
                                <button type="button" class="btn btn-danger m-md-1">
                                        End <span class="badge badge-light">{{track.finish}}</span>
                                </button>
                                <button type="button" class="btn btn-success m-md-1">
                                        Break <span class="badge badge-light">{{track.break}}</span>
                                </button>
                                <button type="button" class="btn btn-warning m-md-1">
                                        Total hours <span class="badge badge-light">{{track.totalHours}}</span>
                                </button>

                            </div>

                            <button type="button" class="btn btn-outline-secondary editButton float-right" *ngIf="selectedId != i" (click)="onEdit(i)">Edit</button>
                            <button class="btn btn-info editButton float-right" *ngIf="selectedId == i" (click)="onSave(i)">Save</button>

                        </li>

                    </ul>

                </div>
                <div class="col-md-6 text-center">

                    <div class="card bg-default totalCompleted">
                        <h5 class="card-header">
                            <h3 class="m-md-3">
                                <span>Total Completed ({{ totalHoursWeek }} hours)</span>
                            </h3>
                        </h5>
                        <div class="card-body">


                            <progress class="totalProgress" id="prog-bar" role="progressbar" [value]="totalHoursWeek" min="0" max="40" style="width: 100%">
                                
                            </progress>

                        </div>

                    </div>


                    <div class="card bg-default">
                        <h5 class="card-header">
                            <h3 class="m-md-3">Download details</h3>
                        </h5>
                        <div class="card-body">
                            <button class="btn btn-warning" type="button" name="button" (click)="exportAsXLSX()">
                                <i class="fas fa-file-download"></i> Download 
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>