<div class="container" *ngIf="auth.isAuthenticated()">

    <button type="button" class="btn btn-warning md-5 currentDate float-right">
        Time <span class="badge badge-light">{{today | date:'shortTime'}}</span>
    </button>

    <button type="button" class="btn btn-primary md-5 currentDate float-right">
        Today is <span class="badge badge-light"> {{today | date:' EEEE, d of MMM '}} </span>
    </button>


</div>