<app-user></app-user>
<hr>

<div class="tracker">
    <div class="row justify-content-center  m-md-4">
        <div class="col-sm-6">
            <button class="btn btn-success btn-block firstTracker" (click)="onStart()" [disabled]=started>Start</button>
        </div>
        <div class="inputTracker">
            <input class="start secondTracker" type="text" name="" disabled="true" value="{{ timeStart }}" id="">
        </div>
    </div>

    <div class="row justify-content-center m-md-4">
        <div class="col-sm-6">
            <button class="btn btn-danger btn-block firstTracker" (click)="onEnd()" [disabled]="!started || ended">End</button>
        </div>
        <div class="end inputTracker">
            <input class="end secondTracker" type="text" disabled="true" name="" value="{{ timeEnd }}" id="">

        </div>
    </div>

    <div class="row justify-content-center m-md-4 setBreak">
        <div class="col-sm-1"></div>
        <div class="input-group col-sm-8  ">
            <div class="input-group-prepend" id="button-addon3">
                <button class="btn btn-outline-primary" (click)="onMinus()" type="button" [disabled]="ended">-</button>
            </div>
            <input type="number" class="form-control " placeholder="Break" value="{{ break }}" (keyup)="onKeyUp(val.value)" (keyup.enter)="onSetBreak(val.value)" min="0" #val [disabled]="ended || breakFilled">
            <div class="input-group-append " id="button-addon3">
                <button class="btn btn-outline-primary" (click)="onPlus()" type="button" [disabled]="ended">+</button>
                <button class="btn btn-outline-primary" (click)="onSetBreak(break)" type="button" [disabled]="ended">Set Break</button>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>


</div>