<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" [routerLink]="['tracker']"><img src="assets/img/logo_rewe_spain.png" height="65"></a>
        </div>
        <ul class="navbar-nav mr-auto" *ngIf="auth.isAuthenticated()">
            <li class="nav-item" *ngIf="!admin">
                <a class="nav-link" [routerLink]="['tracker']" [routerLinkActive]="['active']">Tracker</a>
            </li>
            <li class="nav-item" *ngIf="!admin">
                <a class="nav-link" [routerLink]="['calendar']" [routerLinkActive]="['active']">Calendar</a>
            </li>
            <li class="nav-item" *ngIf="admin">
                <a class="nav-link" [routerLink]="['admin']" [routerLinkActive]="['active']">Admin Panel</a>
            </li>
            <li class="nav-item" *ngIf="!admin">
                <a class="nav-link" [routerLink]="['/details', profile.sub ] " [routerLinkActive]="['active']">My Details</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-outline-danger logMargin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><i class="fas fa-sign-out-alt"></i> Log out</button></li>
        </ul>
    </div>
</nav>