/* You can add global styles to this file, and also import other style files */

@import "../node_modules/flatpickr/dist/flatpickr.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
body {
    background: #f2f3f8;
    margin-bottom: 100px;
}

#profIcon {
    margin-right: 5px !important;
}

.navbar {
    background: white !important;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .1);
}

.btn-link:hover {
    text-decoration: none !important;
}

.logMargin {
    margin-top: 7px;
}

.currentDate {
    margin-top: 3.5rem!important;
    margin-right: 10px;
}

.welcomeMessage {
    margin-top: 100px !important;
}

hr {
    margin-top: -20px;
}

.adminTable {
    margin-top: 50px;
}

.titleSection {
    margin-left: 0px !important;
}

.selectAll {
    margin-bottom: -3px;
}

.downloadAll {
    margin-left: -65px;
}

.pointer {
    cursor: pointer;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgb(248, 248, 255);
}

.actions>button {
    margin: 0 3px 0 3px;
}

.details {
    margin-top: 30px;
}

.totalCompleted {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tracker {
    margin-top: 90px;
}

.start {
    height: 37px;
}

.end {
    height: 37px;
}

.changes {
    margin: 0 auto;
}

.nounderline {
    text-decoration: none !important;
    color: black;
}

.totalProgress {
    color: red !important;
}

.editButton {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
}

.tituloSemana {
    width: 99.7%;
    margin-top: 30px !important;
    margin-left: 1px !important;
    margin-bottom: 0px !important;
    padding: 10px 0 10px 20px;
    margin: 0 auto;
    border: 1px solid grey;
    color: white;
    background: black !important;
}

.botonesEdit {
    margin-top: 10px !important;
}


/* _________________________________________   Media Queries   __________________________________________________*/

@media (max-width: 430px) {
    .navbar-nav {
        display: inline-block;
    }
    .nav-item {
        display: inline-block;
        margin: 0 7px;
        font-weight: bold;
    }
    .logMargin {
        margin: 0;
    }
    hr {
        margin: 0;
        margin-bottom: 0;
    }
    .currentDate {
        margin-top: 25px !important;
        margin-bottom: 20px;
    }
    .titleSection {
        margin-top: 20px;
    }
    .tracker {
        margin-top: 50px;
    }
    .tracker>div>div>.firstTracker {
        max-width: 30%;
        position: absolute;
    }
    .tracker>div>div>.secondTracker {
        margin-bottom: 20px !important;
        width: 128%;
    }
    .setBreak {
        margin-top: 20px !important;
    }
    .buttonReturn {
        margin-top: 30px !important;
    }
    .botonesEdit>button {
        margin: 5px !important;
        display: block;
    }
    .botonesEdit>label {
        margin: 5px !important;
        display: block;
    }
    .welcomeMessage {
        padding-bottom: 80px !important;
    }
    .editData {
        margin-top: 20px !important;
    }
    .alertEdit {
        margin-top: 30px !important;
    }
    .inputTracker {
        margin-left: 139px;
        margin-right: 13px;
        padding-right: 50px;
    }
}

@media (max-width: 400px) {
    .currentDate {
        display: none;
    }
    .inputTracker {
        margin-right: 13px;
    }
}

@media (max-width: 380px) {
    .navbar-right {
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .navbar-brand>img {
        max-height: 55px;
    }
}


/* __________   Extra Classes   ________________________*/

.main-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

.puntero {
    cursor: pointer;
}

.w120 {
    width: 230px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}